{ config, lib, pkgs, ... }:
{
  networking.hostName = "__hostname__";

  users = {
    groups.__user__ = {
      gid = 1000;
    };
    users.__user__ = {
      isNormalUser = true;
      uid = 1000;
      extraGroups = ["__user__" "wheel" "disk" "audio" "video" "networkmanager" "systemd-journal" "lxd"];
      initialPassword = "__user__";
    };
  };
 }
